
<div class="container">
  <div class="row">
    <!--サイドの余白確保-->
    <div class="col-md-1"></div>
    <!--サイドの余白確保-->

    <div class="col-md-7">
      <h1>Welcome to <b><span class="glyphicon glyphicon-book" aria-hidden="true"></span>Bookers!</b></h1>
    </div>

    <!--サイドの余白確保-->
    <div class="col-md-4"></div>
    <!--サイドの余白確保-->
  </div>
</div>
