
<div class="container">
  <div class="row">
    <!--サイドの余白確保-->
    <div class="col-lg-1"></div>
    <!--サイドの余白確保-->

    <div class="col-lg-7">
      <h1>Welcome to Bookers!</h1>
    </div>

    <!--サイドの余白確保-->
    <div class="col-lg-4"></div>
    <!--サイドの余白確保-->
  </div>
</div>
